<launch>
  <!-- Arguments -->
  <arg name="rviz" default="true"/>
  <arg name="pclviz" default="false"/>

  <arg name="registeredCloud" default="/velodyne_cloud_registered"/>
  <arg name="velodyneCloud" default="/velodyne_points"/>
  <arg name="aftC" default="aft_mapped_to_init_CORRECTED"/>

<!--   <arg name="registered" default="10"/>
  <arg name="velodyne" default="1"/> -->

  <!-- Parameters -->
  <param name="/use_sim_time" value="true"/> <!--For bags to work in simulated time-->

  <param name="timer" value="5.0" type="double"/>
  <param name="baseFrame" value="world" type="string"/> <!-- MUST CHANGE TO '/velodyne' IF NOT REGISTERED -->
  <param name="inputFrame" value="camera_init" type="string"/>
  <param name="windowSize" value="10" type="int"/> <!-- MUST CHANGE TO '1' IF NOT REGISTERED -->

  <param name="boxFilterBoundXYZ" value="5.0 5.0 5.0" type="string"/>
  <param name="segmentBoundXYZ" value="0.5 0.5 0.5" type="string"/>
  <param name="voxelGridLeafSize" value="0.01" type="double"/>
  <param name="rvizNormalSize" value="0.4" type="double"/>
  <param name="rvizNormalFrequency" value="5" type="int"/>
  <param name="neighborRadius" value="0.1" type="double"/>
  <param name="weightingFactor" value=".2" type="double"/>  

  <param name="normalDistWeight" value="0.1" type="double"/>
  <param name="maxIterations" value="10000" type="int"/>
  <param name="distThreshold" value="0.05" type="double"/>
  <param name="radiusLimits" value="0 15" type="string"/>

  <!--RVIZ params-->  
  <param name="displayClouds" value="true" type="bool"/>
  <param name="displayNormals" value="false" type="bool"/>
  <param name="displayCenterAxis" value="false" type="bool"/>
  <param name="displayCylinder" value="true" type="bool"/>
  <param name="displaySegments" value="false" type="bool"/>
  <param name="displayMap" value="false" type="bool"/>
  <param name="displayDebugger" value="false" type="bool"/>

  <param name="usePCLViz" value="$(arg pclviz)" type="bool"/>

	<!-- Publish Point Cloud From Bag -->
	<node pkg="geometric_mapping" type="geometric_mapping_node" name="geometric_mapping_node" output="screen">
    <!-- Remapping -->
    <remap from="inputCloud" to="$(arg registeredCloud)"/>
    <remap from="inputOdometry" to="$(arg aftC)"/>

    <remap from="cloudOutput" to="/choppedCloud"/>
    <remap from="normalsOutput" to="/surfaceNormals"/>
    <remap from="eigenBasisOutput" to="/eigenBasis"/>
    <remap from="cylinderOutput" to="/cylinderModel"/>
  </node>

  <!-- Play Bag -->
<!-- 	<arg name="path" default="$(find geometric_mapping)/bags/Handheld"/>
	<arg name="file" default="*"/>
	<node pkg="rosbag" type="play" name="player" output="screen" args="-l clock $(arg path)$(arg file).bag"/> -->

  <!-- Visualize the point cloud in rviz -->
  <group if="$(arg rviz)">
    <node launch-prefix="nice" name="rviz" pkg="rviz" type="rviz" args="$(find geometric_mapping)/rviz_config/mapping.rviz" required="true"/>
  </group>
</launch>