<launch>
  <!-- Arguments -->
  <arg name="rviz" default="true"/>
  <arg name="pclviz" default="false"/>

  <!-- Parameters -->
  <param name="boxFilterBound" value="5.0" type="double"/>
  <param name="voxelGridLeafSize" value="0.5" type="double"/>
  <param name="neighborRadius" value="0.5" type="double"/>
  <param name="weightingFactor" value=".2" type="double"/>

  <param name="displayCloud" value="true" type="bool"/>
  <param name="displayNormals" value="false" type="bool"/>
  <param name="displayCenterAxis" value="true" type="bool"/>
  <param name="displayCylinder" value="false" type="bool"/>

  <param name="usePCLViz" value="$(arg pclviz)" type="bool"/>

	<!-- Publish Point Cloud From Bag -->
	<node pkg="geometric_mapping" type="geometric_mapping_node" name="geometric_mapping_node" output="screen">
    <!-- Remapping -->
    <remap from="input" to="/velodyne_points"/>

    <remap from="cloudOutput" to="/choppedCloud"/>
    <remap from="normalsOutput" to="/surfaceNormals"/>
    <remap from="eigenBasisOutput" to="/eigenBasis"/>
  </node>

  	<!-- Play Bag -->
<!-- 	<arg name="path" default="-d $(find pcl_practice)../../../mine_bags/"/>
	<arg name="file" default="mine_data_2018-05-14-14-42-01_54"/>
	<node pkg="rosbag" type="play" name="player" output="screen" args="-l $(arg path)$(arg file).bag"/> -->

  <!-- Visualize the point cloud in rviz -->
  <group if="$(arg rviz)">
    <node launch-prefix="nice" name="rviz" pkg="rviz" type="rviz" args="-d $(find geometric_mapping)/rviz_config/mapping.rviz" required="true"/>
  </group>
</launch>